.profilePic div {
  /* top: 5px;
  left: 7px; */
  background-color: transparent !important;
}

.profilePic canvas:nth-child(2) {
  /* border: 2px solid rgb(58, 58, 58); */
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  zoom: 1;
  /* width: 45px;
  height: 45px; */
  overflow: hidden;
}

.fade {
  opacity: 0.3;
}

.rotate {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
