.enterName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvasContainer {
  border: 2px solid var(--primary);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  width: 400px;
  transform: translate3d(0, 0, 0);
}

.nameInput {
  width: 400px;
  box-sizing: border-box;
  padding: 14px;
  font-size: 20px;
  margin: 25px 0;
  border: 2px solid var(--primary);
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: stretch;
  width: 100%;
  margin-top: 5px;
}

.button {
  flex: 1;
}

.button:nth-child(2) {
  margin: 0 5px;
}

.button button {
  width: 100%;
}
