.playerBox {
  border: 2px solid black;
  box-sizing: content-box;
  border-radius: 10px;
  /* border-left: 0; */
  /* margin-left: -3px; */
  flex: 1;
  padding: 3px 30px;
  padding-left: 20px;
  margin: 5px;
  color: black;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  text-align: center;
  width: 100%;
}

.playerBox.skipped {
  border: 2px solid rgba(0, 0, 0, 0.192);
  color: rgba(0, 0, 0, 0.219);
}

.scoreBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: #00aeff; */
  background-color: rgba(0, 255, 0, 0.418);

  opacity: 0.9;
  animation: fadeIn 2s ease-in-out;
  animation-fill-mode: forwards;
  /* z-index: -1; */
  transition: all 0.5s ease-in-out;
}

.playerBox.winning {
  /* border: 2px solid black;
  color: black;
  background-color: rebeccapurple; */
}

.playerBox:first-child {
  /* border-left: 3px solid black; */
}

.me .playerName {
  font-weight: bold;
}

.winning .playerName {
  /* color: rgb(0, 187, 0); */
}

.playerName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 111;
  font-size: 30px;
  font-family: "MAIN", sans-serif;
}
.hideText {
  opacity: 0;
}

.playerScore {
  font-size: 1.4em;
  font-weight: 700;
  margin-left: 10px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  /* position: relative; */
}

.nameHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-left: 35px; */
}

.name {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.typingDots {
  overflow: hidden;
  animation: typing 1s steps(4, end) infinite;
  /* display: inline-block; */
  font-size: large;
  margin-left: 3px;
}

.hidden {
  opacity: 0;
  animation: none;
}

.playerScoreMobile {
  display: none;
}

@media (max-width: 800px) {
  .playerBox {
    padding: 10px 10px;
    /* padding-left: 20px; */
    margin: 1px;
    /* flex: 50%; */
    /* display: none; */
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }

  .wrapper {
    flex: 1;
  }
  .profilePic {
    display: none;
  }
  .me {
    display: flex;
  }

  .nameHolder,
  .name {
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 300;
  }

  .me .name {
    font-weight: bold;
  }

  .playerScore {
    display: none;
  }

  .playerScoreMobile {
    font-size: 1.4em;
    font-weight: 700;
    margin-left: 10px;
    font-size: 24px;
    color: var(--black);
    /* font-family: "Open Sans", sans-serif; */
    /* position: relative; */
  }

  .title {
    margin-top: 0;
  }

  .playerName {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mobileScore {
    font-size: 1.4em;
    font-weight: 700;
    margin-left: 10px;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    /* position: relative; */
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  33% {
    width: 4px;
  }
  66% {
    width: 8px;
  }
  100% {
    width: 16px;
  }
}
