.button {
  box-sizing: border-box;
  padding: 14px;
  font-size: 20px;
  /* border: 2px solid var(--bg); */
  border-radius: var(--border-radius);
  background-color: var(--primary-very-muted);
  /* color: varwhite; */
  border: 0;
  cursor: pointer;
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: all 0.2s;
}

.selected {
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
}

.secondary {
  background-color: transparent;
  color: var(--black);
  opacity: 0.5;
  font-size: 16px;
  border: 0;
}

.disabled {
  background-color: var(--primary-very-muted);
  color: var(--primary);
  opacity: 0.5;
  cursor: not-allowed;
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .button {
  }
}
