.sentence {
  padding: 20px;
  font-size: 18px;
  animation: fadeIn 1s ease-in-out;
  line-height: 30px;
  user-select: none;
  /* width: 100%; */
  border-radius: 10px;
  /* border: 1px solid rgb(196, 196, 196); */
  margin-bottom: 15px;
  background-color: #fefeff;
  color: black;
  border: 2px solid black;
}

.odd {
  /* background-color: #fefeff; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.underline {
  border-bottom: 2px solid black;
  color: transparent;
  transition: all 1s;
  /* border-radius: 4px; */
  margin-right: 1px;
  letter-spacing: -1px;
}

.underline.show {
  color: black;
  letter-spacing: 0;
  margin-right: 0;
}
